*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: rgb(163, 159, 159);

}
/* ----------------Header section-----------  */
nav{
    background-color: black;
    height: auto;
    /* box-shadow: 0px 0px 10px dimgrey; */

}
nav ul{
    text-align: center;
}

nav ul li {
    display: inline;
}
#logo:hover{
    
}
/* ----------------Header section End-----------  */


/* ----------------Main section Start-----------  */
main{
    width: 80%;
    height: 700px;
    margin: 2% 10%;
    background-color: white;
    border-radius: 10%;
}
.head{
 font-size: 23px;
 color: black;
 text-decoration: underline;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.page{
    display: inline;
}
.first{
    margin-top: 12px;
 display: flex;
 flex-direction: column;
}

.left{
    margin-top: 72px;
    height: 60px;
}
.mid{
    margin-right: 123px;
}