* {
    font-family: 'Nunito', sans-serif;
    transition: all .2s ease-out;}

    html::-webkit-scrollbar {
        width: 0.6rem;
    }

    html::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 5rem;
    }

    html::-webkit-scrollbar-track {
        background: #333;
    }

.mainbody{
       padding-left: 60px;
}
#head:hover{
    color:rgb(98, 202, 88);
    transform: translateY(-10px);
    transition: 500ms ease ;

}
.upr_container{
    margin-left: 40px;
}
#head{
    font-size:xx-large;
}

.main{
    font-size: larger;  
}
.main:hover{
    /* color: red;  */
}
.cource_intro{
    width: 70%;
    color: #666;
}
.cource_intro:hover{
    color: black;
}
.cards{
    display: flex;
}

.science_cards{
    height: 350px;
    width: 290px;
    border: 2px solid black;
    margin-left: 40px;
    border-radius: 5%;
    padding: 2px;
    box-shadow: 2px 5px;
}
.science_cards:hover{
    transform:translateY(-10px);
    transition: 500ms ;
    /* opacity: .6; */
    background-color: rgb(248, 241, 241);

}

.science_image{
    height: 70%;
    width: 100%;
    border-radius: 5%;
}
.sub{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgb(207, 207, 207);
    /* display: none; */
}
.cards_1{
    display: flex;
    flex-wrap: wrap;
}
.eng_cards{
    height: 350px;
    width: 290px;
    border: 2px solid black;
    margin:0px 0px 40px 40px;
    border-radius: 5%;
    padding: 2px;
    box-shadow: 2px 5px;
}
.eng_cards:hover{
    transform:translateY(-10px);
    transition: 500ms ;
    background-color: rgb(248, 241, 241);
}
.eng_image{
    height: 75%;
    width: 100%;
    border-radius: 5%;

}
.cards{
    display: flex;
}
.box_cards{
    height: 350px;
    width: 290px;
    border: 2px solid black;
    border-radius: 5%;
    margin:0px 0px 40px 40px;
    padding: 2px;
    box-shadow: 2px 5px;
}
.box_cards:hover{
    transform:translateY(-10px);
    transition: 500ms ;
    background-color: rgb(248, 241, 241);
}
.box_image{
    height: 75%;
    width: 100%;
    border-radius: 5%;  
}
.box_card{
    height: 280px;
    width: 235px;
    border: 2px solid black;
    border-radius: 5%;
    margin:0px 0px 40px 40px;
    padding: 2px;
    box-shadow: 2px 5px;
}
.box_card:hover{
    transform:translateY(-10px);
    transition: 500ms ;
    background-color: rgb(248, 241, 241);
}