<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo/online.png">
    <link rel="stylesheet" href="Style/appointment.css">
    <link rel="stylesheet" href="Style/hamburger.css">
    <link rel="stylesheet" href="Bootstrap/ScrollEffects/onScroll.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tutor's Point</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <img id="logo" src="logo/online.png" alt="" height="150px"></li>
                <li>
                    <nav role='navigation'>
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"
                                        style="border-radius:50%;" width="200px">
                                </li>
                                <li class="active" onclick="location.href='index.html'">Home</li>
                                <li><a href="doubt.html">Doubts</a></li>
                                <li><a href="cources.html">Our Courses</a></li>
                                <li onclick="location.href='tutor.html'">Tutor's Info</li>
                                <li onclick="location.href='dashboard.html'">Dashboard</li>
                            </ul>
                        </div>
                    </nav>
                </li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <!-- CARD-------1 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/headshot-portrait-of-smiling-male-employee-in-office-picture-id1309328823?b=1&k=20&m=1309328823&s=170667a&w=0&h=a-f8vR5TDFnkMY5poQXfQhDSnK1iImIfgVTVpFZi_KU="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>6 Star</p>
            </aside>
        </section>

        <!-- CARD-------2 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/overjoyed-pretty-asian-woman-look-at-camera-with-sincere-laughter-picture-id1311084168?b=1&k=20&m=1311084168&s=170667a&w=0&h=mE8BgXPgcHO1UjSmdWYa21NIKDzJvMrjOffy39Ritpo="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>5.9 Star</p>
            </aside>
        </section>

        <!-- CARD-------3 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/millennial-male-team-leader-organize-virtual-workshop-with-employees-picture-id1300972574?b=1&k=20&m=1300972574&s=170667a&w=0&h=2nBGC7tr0kWIU8zRQ3dMg-C5JLo9H2sNUuDjQ5mlYfo="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>4.5 Star</p>
            </aside>
        </section>


        <!-- CARD-------4 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/relaxed-businesswoman-at-the-office-picture-id506478880?k=20&m=506478880&s=612x612&w=0&h=3mCfsNqDj0YGZQCZZJpstQa0XIBXHPXzh1-ftUTI6xk="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>3 Star</p>
            </aside>
        </section>
        
        
        <!-- CARD-------5 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/portrait-of-indian-male-teacher-outside-of-library-picture-id1330084984?k=20&m=1330084984&s=612x612&w=0&h=TqRKf4vutmCslo_nWV64mlFUKl0Il7nWKub3GJne6Ro="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>3 Star</p>
            </aside>
        </section>


        <!-- CARD-------6 -->
        <section class="cards" onclick="location.href='teachers PP.html'">
            <figure class="card">
                <img src="https://media.istockphoto.com/photos/waking-up-with-his-dog-looking-through-the-window-picture-id1177416505?k=20&m=1177416505&s=612x612&w=0&h=66VNF-EQAqGaCDL5o4tAODqfyAFVNMsUqYyiNh8kV-0="
                    style="border-radius:10px; width: 223px;" alt="Profile Image">
                <figcaption class="card-title info-text">
                    <p></p>
                </figcaption>
            </figure>
            <div>
                <h3>Mr.Ammit Bansal</h3>
                <h4>Professor</h4>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, dicta? Magnam atque iste fugit neque.
                    Magni possimus exercitationem ut voluptatibus eius incidunt, quo maxime illum, eos quis commodi,
                    saepe minima.</h6>
            </div>
            <aside>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <!--trigger = morph-two-way -->
                <lord-icon src="https://cdn.lordicon.com/mdgrhyca.json" trigger="loop-on-hover"
                    colors="primary:white,secondary:#08a88a" style="width:80px;height:60px">
                </lord-icon>
                <p>3 Star</p>
            </aside>
        </section>

    </main>

    <script src="JavaScript/appointment.js"></script>
    <script src="JavaScript/jquery-3.6.0.js"></script>

</body>

</html>