<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/cources.css">
    <title>Our Cources</title>
</head>
<body>
    <div class="upr_container">
    <h2>Discover Cources</h2>
    <h3>Get started in science</h3>
    <p class="cource_intro">Science is the knowledge about the earth, surroundings and environment and the living beings involved. Science offers new information and revelations of many things we do not know. Day by day, science is progressing. Now science has helped man reach the moon, which was once unknown to man as a satellite.</p>
    </div>
    <div class="cards">
        <div class="box_cards"><img src="images/bg_physics.webp" alt="" class="box_image">
            PHYSICS
        </div>
        <div class="box_cards"><img src="images/bg_chemistry.jpg" alt="" class="box_image">
            CHEMISTRY
        </div>
        <div class="box_cards"><img src="images/bg_biology.jpg" alt="" class="box_image">
            BIOLOGY
        </div>
    </div>
    <div class="upr_container">
    <h3>Rock the engineering</h3>
    <p class="cource_intro">Engineering is the use of science and math to design or make things. People who do engineering are called engineers. They learn engineering at a college or university. Engineers usually design or build things. Some engineers also use their skills to solve technical problems.</p>
    </div>
    <div class="cards">
        <div class="box_cards"><img src="images/bg_ai.jpg" alt="" class="box_image">
            ARTIFICIAL INTELLIGNECE
            
        </div>
        <div class="box_cards"><img src="images/bg_mechanics.jpg" alt="" class="box_image">
            MECHANICS
        </div>
        <div class="box_cards"><img src="images/bg_chemical.jpg" alt="" class="box_image">
            CHEMICAL
        </div>
        <div class="box_cards"><img src="images/bg_civil.jpg" alt="" class="box_image">
            CIVIL
        </div>
        <div class="box_cards"><img src="images/bg_electronics.jpg" alt="" class="box_image">
            ELECTRONICS
        </div>
    </div>
    <div class="upr_container">
    <h3>Spoken Language</h3>
    <P class="cource_intro">A spoken language is a language produced by articulate sounds, as opposed to a written language. An oral language or vocal language is a language produced with the vocal tract, as opposed to a sign language, which is produced with the hands and face.</P>
    </div>
    <div class="cards">
        <div class="box_cards"><img src="images/bg_french.png" alt="" class="box_image">
            FRENCH
        </div>
        <div class="box_cards"><img src="images/bg_germany.webp" alt="" class="box_image">
            GREMANY 
        </div>
        <div class="box_cards"><img src="images/bg_japan.webp" alt="" class="box_image">
            JAPANISE
        </div>
        <div class="box_cards"><img src="images/bg_china.jpg" alt="" class="box_image">
            CHINESE
        </div>
        <div class="box_cards"><img src="images/bg_spain.png" alt="" class="box_image">
            SPANISH
        </div>
    </div>
    <div class="upr_container">
    <h3>MUSIC</h3>
    <p class="cource_intro">Music plays a great role in everyone’s life. It keeps us busy in free time and makes our life peaceful. The streamlined sound, which arises from the creation of rasa, is called music. The effect of music’s drunkenness on the living world is not hidden from anyone. Music plays an intrinsic and necessary role in our lives. There are different types of music, which we can enjoy according to our need and requirement.</p>
    </div>
    <div class="cards">
        <div class="box_cards"><img src="images/bg_country.jpg" alt="" class="box_image">
            COUNTRY
        </div>
        <div class="box_cards"><img src="images/bg_jass.jpg" alt="" class="box_image">
            JASS 
        </div>
        <div class="box_cards"><img src="images/bg_classical.jpg" alt="" class="box_image">
            CLASSICAL
        </div>
        <div class="box_cards"><img src="images/bg_indierock.jpg" alt="" class="box_image">
            INDIE-ROCK
        </div>
        <div class="box_cards"><img src="images/bg_metal.jpg" alt="" class="box_image">
            METAL
        </div>
    </div>
</body>
</html>