<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="Style/dashboard.css">
  <link rel="stylesheet" href="Style/hamburger.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <title>Your Dashboard</title>
</head>

<body>
  <header>
    <nav id="navbar">
      <ul>
        <li> <img id="logo" src="logo/online.png" alt="" height="60px"></li>
        <li>YOUR Dashboard</li>
        <li>
          <nav role='navigation'>
            <div id="menuToggle" style="margin-top: -1%;">
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg" style="border-radius:50%;"
                    width="200px">
                </li>
                <li class="active" onclick="location.href='index.html'">Home</li>
                <li><a href="doubt.html">Doubts</a></li>
                <li><a href="cources.html">Our Courses</a></li>
              </ul>
            </div>
          </nav>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- MAIN LEFT SECTION -->
    <aside id="leftSection">
      <div id="option1" class="activeOption">
        <lord-icon src="https://cdn.lordicon.com/wurbjznp.json" trigger="hover" colors="primary:#ffa500"
          style="width:40px;height:40px">
        </lord-icon>
        <h3>Courses</h3>
      </div>
      <div id="option2" class="activeOption">
        <lord-icon src="https://cdn.lordicon.com/drtetngs.json" trigger="hover" colors="primary:#ffa500"
          style="width:40px;height:40px">
        </lord-icon>
        <h3>Appointments</h3>
      </div>
    </aside>
    <!-- MAIN LEFT SECTION END-->

    <!-- ------------MAIN SECTION STARTS---------------- -->
    <section id="mainSection">
      <section id="upperSection">
        <div class="firstdiv"></div>
        <div>
          <span style=" "></spans>
        </div>
      </section>
      <section id="statusSection">
        <div id="piechart" class="last"></div>
      </section>

    </section>
    <!-- ------------MAIN SECTION ENDS---------------- -->

    <!-- MAIN RIGHT SECTION -->
    <aside id="rigthSection">
      <div id="scoreBoard">
        <div>Your Status</div>
        <span id="profile-info">
          <span>
            <p>Name: Lina Desusa</p>
            <p>Age: 27yrs </p>
          </span>
          <img
            src="https://media.istockphoto.com/photos/portrait-of-a-mature-woman-40s-looking-camera-with-soft-smile-in-a-picture-id1159704136?b=1&k=20&m=1159704136&s=170667a&w=0&h=e-Z2b2o6oAQxtyJ7RHeWZgG403qE18Or4xrmUgS_p5s="
            width="110px" height="120px" alt="profile Picture">
        </span>
      </div>
    </aside>
    <!-- MAIN RIGHT SECTION END-->
  </main>
  <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['No. of class conducted', 11],
        ['No. of doubt solved', 2],

      ]);

      var options = {
        title: 'Your Performance'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>

</body>

</html>