<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="Style/dashboard.css">
  <link rel="stylesheet" href="Style/hamburger.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Dashboard</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li> <img id="logo" src="logo/online.png" alt="" height="80px"></li>
            <li>
                <nav role='navigation'>
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"
                                style="border-radius:50%;" width="200px"
                                >
                            </li>
                            <li class="active" onclick="location.href='index.html'">Home</li>
                            <li><a href="doubt.html">Doubts</a></li>
                            <li><a href="cources.html">Our Courses</a></li>
                        </ul>
                    </div>
                </nav>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>