<html>
  <head>
    <link rel="stylesheet" href="Style/nav.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <ul id="horizontal">
        <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"></li>
        <li><a href=#index>Clyde</a></li>
        <li><a href=#tutorProfile>Tutor Profile</a></li>
        <li><a href=#doubt>Doubts</a></li>
        <li><a href="cources.html">Our Courses</a></li>
        <!-- <li style="float:right" class="active"><a href=#signin>Sign Up</a></li> -->
        <li style="float:right" class="active"><a href="/login">Get started</a></li>
      </ul>
    </nav>
    <!-- <div id="para1">
      <h1>Find answers to you doubts from experts</h1>
      <h3>Overcome all the obstracles in your way and upskill yourself </h3>
      <input type="email" placeholder="EMAIL">
      <button id="join">Join Now</button>
    </div> -->
    <section id="introS">
      <div class="intro">
        <div id="para2">
          <video  autoplay width="600px" height="600px">
            <source src="logo/video1.mp4" type="video/mp4">
          </video>
        </div>
        <div id="para22">
          <p style="font-size: 4rem;">Find answers to your doubts</p>
          <p style="font-family: sans-serif; font-size: 2rem;">Interactive <b> one-on-one</b> doubts solving through video call or text messages</p>
          <input type="email" placeholder="EMAIL" height="75px" width="100px">
          <button  id="explorem" style="background-color:#111; color: white;">Explore More</button>

        </div>
      </div>
      <div class="intro">
        <div id="para3">
          <p style="font-size: 4rem;">Smart tutoring</p>
          <p style="font-size: 2rem; font-family: sans-serif;">Short videos  briefly explaining a specific topic.</p>
          <button style="background-color: #228891;">View tutorial</button>
        
        </div>
        <div id="para33">
          <img src="" width="400px" height="400px">
        </div>
      </div>
      <div class="intro1">

          <h1>Do more with Clyde</h1>
          <div id="verticalb">
            <ul style="list-style-type: none; display: block;">
              <li>lesson discovery</li><!--onclick for pic change-->
              <li>Tutor profile</li>
              <li>lesson review</li>
              <li>flexible scheduling</li>
              <li>All around courses</li>
              <li>Smooth matchmaking</li>
            
            </ul>
  

          </div>
          <div id="imgChange"></div>
      


    </section>
    <footer class="footer-section bg-with-black">
      <div class="footer-top-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="single-fta">
                          <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/logo2.png" alt="">
                          <ul class="fta-list">
                              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Tutor Profile</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Doubts</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Our courses</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="single-fta">
                          <h3 class="fta-title">Important Link</h3>
                          <ul class="fta-list">
                              <li><a href="#"><i class="fa fa-square"></i>Entrepreneurship</a></li>
                              <li><a href="#"><i class="fa fa-square"></i>Counselling</a></li>
                              <li><a href="#"><i class="fa fa-square"></i>Spoken languages</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="single-fta">
                          <h3 class="fta-title">Important Link</h3>
                          <ul class="fta-list">
                              <li><a href="#"><i class="fa fa-square"></i>Science</a></li>
                              <li><a href="#"><i class="fa fa-square"></i>Engineering Subjects</a></li>
                              <li><a href="#"><i class="fa fa-square"></i>Extra co-curricular acttivities</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="single-fta">
                          <h3 class="fta-title">Contact Us</h3>
                          <ul class="fta-list">
                              <li>Address: Chitkara University,Rajpura,Punjab 140401</li>
                              <li>Phone: (+91) 9501277568</li>
                              <li>Email: Contact.be21@chitkara.edu.in</li>
                          </ul>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="footer-bottom-area">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="footer-bottom">
                          <div class="row">
                              <div class="col-md-6 col-sm-12 col-xs-12">
                                  <div class="fba-copyright">
                                      <p>Copyright © 2022 Designed by Team Clyde. All rights reserved.</p>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-12 col-xs-12">
                                  <div class="fba-links">
                                      <ul>
                                          <li><a href="#">About</a></li>
                                          <li><a href="#">Contact Us</a></li>
                                          <li><a href="#">Term & Conditions</a></li>
                                          <li><a href="#">Privacy Policy</a></li>
                                          <li><a href="#">Sites Map</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

    
  
  </body>

</html>
