<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="logo/online.png">
    <title>Clide</title>
    <link rel="stylesheet" type="text/css" href="Style/CategoryPage1.css">
</head>

<body>
<header id="nav-bar">
    <div id="logo">
        <p>CLYDE</p>
        <nav>
            <ul>
                <li class="navicon"><a>Home</a></li>
                <li class="navicon"><a>Discover</a></li>
                <li class="navicon"><a>Review</a></li>
                <li class="navicon"><a>Contact</a>
                <li class="navicon"><a href="#footer">Footer</a></li>
            </ul>
        </nav>
    </div>
</header>
<main id="main">
    <section id="main-container" class="main-container">
        <div id="row1" class="row">
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKnoQ7EouUXmIXtL7PlVxyPn7hTEdZtD_pyw&usqp=CAU">
                    <p>- T SHARMA</p>
                </main>
                <p>ELECTRO STATICS </p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrkD6Muhccc1mwXophoeZW0qCpSGRUsUYusupCAKiW2hHmm_C9izSz8pvkbQijWxAGZwA&usqp=CAU">
                    <p>- HC VERMA</p>
                </main>
                <p> RAY OPTICS</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLttqtVDHi9j8ihaOg9VnhpFlBgQRXL-sxb0iolOeUuBqW0o4xuddqWRs2hGcPKuZRdVI&usqp=CAU">
                    <p>- AS TYAGI</p>
                </main>
                <p>WAVE OPTICS</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLttqtVDHi9j8ihaOg9VnhpFlBgQRXL-sxb0iolOeUuBqW0o4xuddqWRs2hGcPKuZRdVI&usqp=CAU">
                    <p>- AS TYAGI</p>
                </main>
                <p>WAVE OPTICS</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>


            <div id="div-4" class="small">
                <p></p>
            </div>
        </div>
        <div id="row2" class="row">
            <div class="small">

                <img src="images/lit.png" alt="" srcset="">

                <center>
                    <p>#trending</p>
                </center>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT10HdvN66tPWORq1BLYP3_ygMSTd7tMEZRNlkdr94eKGVLW-N0NuIVaNyqdPrVQz86BIA&usqp=CAU">
                    <p>- SJ GUPTA </p>
                </main>
                <p>GRAVITATION</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8FN2dFdSfhHikg8usyKYjfCk9LIpcAbtdMcO5IYKjPROm3TTtOzqYNQaeZg614fkaFA8&usqp=CAU">
                    <p>- GV TYAGI</p>
                </main>
                <p>CURRENT ELECT.</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNOB3HqlQGxLswLLExNhqw9MSh-oXJqrGtcyD4WSsca8DsyAy02whXiukMUcvZtCCyXI4&usqp=CAU">
                    <p>- VN GUPTA</p>
                </main>
                <p>LAWS OF MOTION</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNOB3HqlQGxLswLLExNhqw9MSh-oXJqrGtcyD4WSsca8DsyAy02whXiukMUcvZtCCyXI4&usqp=CAU">
                    <p>- VN GUPTA</p>
                </main>
                <p>LAWS OF MOTION</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>


        </div>
        <div id="row3" class="row">
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlpHcD_lCHI6IYrF5JjVkwihyXiJLh03Kt7kcuid5XhCuvbBqrlR4JluO_2uyrgNr2Lic&usqp=CAU">
                    <p>- GV SHARMA</p>
                </main>
                <p>WORK POWER</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx7Liu4Fo4oiqO9Z6N61XDp2jYLEZbHG85TYUK9pNN-Txi4CdkNWXgr9SnfCCN_XKdAKk&usqp=CAU">
                    <p>- SS THAKUR</p>
                </main>
                <p>ROTATIONAL MOTION</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQExanT9AylZd7zXeUMBPYNuWsneoGPN6Bo68QZA8Cbj-4OfHueMUa7AIa0oKQ2oIMSK1E&usqp=CAU">
                    <p>- WR SMITH</p>
                </main>
                <p>THERMODYNAMICS</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>
            <div>
                <main>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQExanT9AylZd7zXeUMBPYNuWsneoGPN6Bo68QZA8Cbj-4OfHueMUa7AIa0oKQ2oIMSK1E&usqp=CAU">
                    <p>- WR SMITH</p>
                </main>
                <p>THERMODYNAMICS</p>
                <br>
                <a href="#">Explore</a>
                <nav>
                    <p>abc</p>
                    <p>abc</p>
                    <p>abc</p>
                </nav>
            </div>


            <div id="div" class="small">
                <p></p>
            </div>
        </div>

    </section>

    <aside class="background-img">
        <head id="asidehead">
            <center>
                <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                <lord-icon
                        src="https://cdn.lordicon.com/ssdupzsv.json"
                        trigger="loop"
                        colors="primary:#121331,secondary:#6363ff"
                        style="width:250px;height:250px">
                </lord-icon>
            </center>
            <p class="text typing" id="welcome" >Welcome to One of the Largest One-One Interaction Community!! Clyde is a learning platform that provides content for major competitive examinations as well as offers short lectures in the form of videos on different subjects which can be accessed for free. It allows aspiring students to better prepare for their competitive examinations and promote self-learning.</p>
        </head>


        <p id="cata">EXPLORE MORE</p>
        <center>
            <section id="categories">
                <div class="container">
                    <img src="https://cdn.pixabay.com/photo/2017/08/10/03/08/road-2617557_1280.jpg"
                         alt="Avatar" class="image" >
                    <div class="overlay">
                        <div class="textInfo">JEE PHYSICS</div>
                    </div>
                </div>

                <div class="container">
                    <img src="images/music.png"
                         alt="Avatar" class="image"cheight="170px" width="285px">
                    <div class="overlay">
                        <div class="textInfo">NEET PHYSICS</div>
                    </div>
                </div>
                <div class="container">
                    <img src="images/books.png"
                         alt="Avatar" class="image" height="170px" width="285px">
                    <div class="overlay">
                        <div class="textInfo">CARASH COURCES</div>
                    </div>
                </div>


                <div class="container">
                    <img src="https://cdn2.coachmag.co.uk/sites/coachmag/files/shutterstock_151938761.jpg"
                         alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="textInfo">NOTES</div>
                    </div>
                </div>
                <div class="container">
                    <img src="https://images.moneycontrol.com/static-mcnews/2021/11/stocks_sensex_nifty_stockmarket3-1.jpg"
                         alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="textInfo">RECORDED LECTURES</div>
                    </div>
                </div>
                <div class="container">
                    <img src="images/doctor.png"
                         alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="textInfo">MORE INFO</div>
                    </div>
                </div>
            </section>
        </center>
    </aside>
</main>


<!--FOOTER SECTION-->
<footer id="footer">

    <div class="fdiv">
        <p class="fhead">About US</p>
        <p class="fabout">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Illo, Maxime!</p>
    </div>

    <div class="fdiv">
        <p class="fhead">Follow Us</p>
        <p class="fabout">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">Linkedin</a>
        </p>
    </div>

    <div class="fdiv">
        <p class="fhead">Quick Links</p>
        <p class="fabout">
            <a href="#">Home</a>
            <a href="#">Reviews</a>
            <a href="#">Extras</a>
            <a href="#">Contact Us</a>
            <a href="#">Achivements</a>
        </p>
    </div>

    <div class="fdiv">
        <p class="fhead">Contact Us</p>
        <p class="fabout">+521 258484</p>
        <p class="fabout">@We Talks</p>
        <p class="fabout">Chandigarh, India</p>
        <div id="img">
            <a href="#"><img src="images\insta.png"></a>
            <a href="#"><img src="images\fb.png" ></a>
            <a href="#"><img src="images\twiter.png"></a>
            <a href="#"><img src="images\lindin.png" ></a>
        </div>
    </div>

    <div class="fdiv">
        <p class="fhead">Reach Us</p>
        <div>
            <div id="box">
                <input type="text" id="name" placeholder="Name">
                <input type="email" id="email" placeholder="Email">
            </div>
            <textarea placeholder="Message" id="message"></textarea>
            <br>
            <a href="#" id="btn">Send</a>
        </div>
    </div>

</footer>
<script type="text/javascript" src="JavaScript/catagory1JS.js"></script>
<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
</body>
</html>