<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="logo/online.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teache's profile</title>

    <link rel="stylesheet" href="Style/teachers.css">
</head>
<body>

    <nav>
        <ul id="horizontal">
          <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"></li>
          <li><a href=#index>Clyde</a></li>
          <li><a href="tutor.html">Tutor Profile</a></li>
          <li><a href=#doubt>Doubts</a></li>
          <li><a href="cources.html">Our Courses</a></li>
          <!-- <li style="float:right" class="active"><a href=#signin>Sign Up</a></li> -->
          <li style="float:right" class="active"><a href="/login">Get started</a></li>
        </ul>
    </nav>
      <!--nav section ended-->
    <br>

    <div id="main">

        <div id="left">

            <div id="upperD">

                <img id="teacherIMG" src="images\teacher-2.png">
                <div id="details">
                    <p>NAME - JOHN DEO</p>
                    <p>SUBJECT - PHYSICS</p>
                    <p>SPECIALIZATION - OPTICS</p>
                    <p>RATING - 4.5 
                    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                    <lord-icon
                        id="star"
                        src="https://cdn.lordicon.com/mdgrhyca.json"
                        trigger="hover"
                        colors="primary:#7166ee,secondary:#08a88a"
                        style="width:25px;height:25px">
                    </lord-icon>
                    </p>
                </div>

            </div>

            <div id="breif">
                <h4>BREIF INFO 
                    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/yyecauzv.json"
                        trigger="hover"
                        colors="primary:#121331,secondary:#4030e8"
                        style="width:40px;height:35px">
                    </lord-icon>
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad possimus consequatur molestiae impedit, consequuntur dicta harum id nobis totam facilis excepturi sed sequi praesentium, quo nulla rem iusto, ea dolore?</p>
            </div>

            <div id="portfolio">

                <div id="quali">
                    <h4>QUALIFICATIONS
                        <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/wxnxiano.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#4030e8"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </h4>
                    <p>Lorem ipsum, dolor</p>
                    <p>Lorem ipsum, dolor</p>
                    <p>Lorem ipsum, dolor</p>
                </div>

                <div id="exper">
                    <h4>EXPERRIENCE
                        <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/tkgyrmwc.json"
                        trigger="hover"
                        style="width:40px;height:40px">
                    </lord-icon>
                    </h4>
                    <p>Lorem ipsum, dolor</p>
                    <p>Lorem ipsum, dolor</p>
                    <p>Lorem ipsum, dolor</p>

                </div>

            </div>

        </div>

        <div id="rigth">

            <h3 style="text-align: center;">PAST LECTURES</h3>
            <div id="pastlec">
                <a></a>
                <a></a>
                <a></a>
            </div>
             
            <div id="appointment">

                <div id="commit">
                    <h4>TWEETUP
                        <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/nocovwne.json"
                        trigger="hover"
                        colors="primary:#121331,secondary:#4030e8"
                        style="width:35px;height:35px">
                    </lord-icon>
                    </h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi quas distinctio doloremque culpa eum eos, possimus esse nobis doloribus quaerat ullam quae voluptatibus autem inventore earum. Itaque, exercitationem magni.eos, possimus esse nobis doloribus quaerat ullam quae voluptatibus autem inventore earum. Itaque, exercitationem magni.</p>
                    <button id="appoint">APPOINT</button>
                </div>

                <div id="stdreview">
                    <h4 style="margin-left:10px;">REVIEWS
                        <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/zpxybbhl.json"
                            trigger="hover"
                            colors="primary:#121331,secondary:#4030e8"
                            style="width:35px;height:35px">
                        </lord-icon></h4>
                    <div class="review"></div>
                    <div class="review"></div>
                    <div class="review"></div>
                </div>

            </div>



        </div>

    </div>
    
</body>
</html>